<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urenkelfernsehen</title>

    <script src="https://jitsi.hamburg.ccc.de/external_api.js"></script>
    <style>
      body,
      #meet {
        height: 100vh;
        margin: 0;
      }
      #meet {
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="meet"></div>
    <script>
      const domain = "jitsi.hamburg.ccc.de";
      const options = {
        roomName: "OmaJosiGucktUrEnkelFernsehen9012949",
        width: "100%",
        height: "100%",
        parentNode: document.querySelector("#meet"),
        lang: "de",
        userInfo: {
          displayName: 'Uroma Josi',
        },
        configOverwrite: {
          prejoinConfig: {
            enabled: false,
          },
          startWithVideoMuted: false,
          startWithAudioMuted: true,
          startAudioOnly: false,
        },
      };
      const api = new JitsiMeetExternalAPI(domain, options);
    </script>
  </body>
</html>
