[Unit]
Description=Ntfy

[Container]
Image=docker.io/binwiederhier/ntfy:{{ ntfy_image_tag }}
AutoUpdate=registry

Volume=ntfy.volume:/var/lib/ntfy

Environment=TZ=CET
Environment=NTFY_BASE_URL={{ ntfy_base_url }}
Environment=NTFY_CACHE_FILE=/var/lib/ntfy/cache.db
Environment=NTFY_AUTH_FILE=/var/lib/ntfy/auth.db
Environment=NTFY_AUTH_DEFAULT_ACCESS={{ ntfy_auth_default_access }}
Environment=NTFY_AUTH_USERS="{{ _ntfy_auth_users_string }}"
Environment=NTFY_AUTH_ACCESS="{{ _ntfy_auth_access_string }}"
Environment=NTFY_BEHIND_PROXY=true
Environment=NTFY_ATTACHMENT_CACHE_DIR=/var/lib/ntfy/attachments
Environment=NTFY_ENABLE_LOGIN={{ ntfy_enable_login }}
Environment=NTFY_REQUIRE_LOGIN={{ ntfy_require_login }}
Environment=NTFY_VISITOR_REQUEST_LIMIT_EXEMPT_HOSTS={{ ntfy_visitor_request_limit_exempt_hosts }}

PublishPort={{ ntfy_bind_ip }}:{{ ntfy_port }}:80

Exec=serve

[Service]
Restart=unless-stopped
# Extend Timeout to allow time to pull the image
TimeoutStartSec=600

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
